html {
    scroll-behavior: smooth;
  }
body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background-color: #0A2A43;
    color: white;
    overflow-x: hidden;
}
/* Header */
.header {
    width: 90%;
    max-width: 1260px;
    height: 75px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    top: 20px;
    gap: 20px;
}
    
.header-logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.header-logo img {
    height: 60px;
    margin-right: 10px;
}

.header-buttons {
    display: flex;
    gap: 15px;
}

.button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.signup {
    background-color: #D4EC5B;
    color: black;
    transition: box-shadow 0.1s ease-in-out, transform 0.2s ease;
  }
  
  .signup:hover {
    box-shadow: 0 0 15px #e8f77a, 0 0 30px #e8f77a;
    transform: scale(1.05);
  }
  
  .login {
    background-color: #57C0E8;
    color: black;
    transition: box-shadow 0.1s ease-in-out, transform 0.2s ease;
  }
  
  .login:hover {
    box-shadow: 0 0 15px #78d4f0, 0 0 30px #78d4f0;
    transform: scale(1.05);
  }
  

.sponsor-strip-wrapper {
    width: 50%;
    overflow: hidden;
    position: relative;
    height: 75px;
    display: flex;
    align-items: center;
}

.sponsor-strip {
    display: flex;
    width: max-content;
    animation: scrollLeft 10s linear infinite;
}

.sponsor-logo {
    width: 100px;
    height: 85px;
    object-fit: contain;
    margin-right: 15px;
    flex-shrink: 0;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Hero Section */
.hero {
    width: 100%;
    height: 714px;
    background: linear-gradient(to top, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 77%, rgb(0 0 0 / 0%) 100%), url('gentrit-sylejmani-JjUyjE-oEbM-unsplash.jpg') no-repeat center center / cover;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: -121px;
}

.hero-title {
font-size: 48px;
font-weight: bold;
margin-bottom: -16px;
margin-top: 35%;
position: relative;
z-index: 1;
}

.hero-subtitle {
font-family: 'Jura', sans-serif;
font-size: 32px;
font-weight: bold;
color: #ffffff63;
margin-bottom: 20px;
position: relative;
z-index: 1;
}

.hero-button {
  font-family: 'Jura', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #CAE457;
  color: black;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-bottom: 64px;
  box-shadow: 0 0 10px #f0f890, 0 0 20px #f0f890;
  transition: box-shadow 0.3s ease-in-out;
}

.hero-button:hover {
  box-shadow: 0 0 15px #ffffa0, 0 0 30px #ffffa0;
}

 /* Cards Section */
.cards-container {
display: flex;
justify-content: center;
gap: 25px;
background-color: #0A2A43;
padding: 35px 20px;
}

.card {
background: #CFD8DC;
width: 300px;
height: 320px;
padding: 30px;
border-radius: 20px;
box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
text-align: center;
color: black;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
transform: translateY(-10px);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.card img {
width: 90px;
height: 90px;
margin-bottom: 20px;
}

.card-title {
font-family: 'Jura', sans-serif;
font-size: 22px;
font-weight: bold;
color: #003C4D;
margin-bottom: 36px;
}

.card-text {
font-family: 'Jura', sans-serif;
font-size: 18px;
line-height: 21.6px;
color: rgba(0, 46, 67, 0.58);
}
.success-path {
text-align: center;
background: url('tim-marshall-dYO_5KOMEkA-unsplash.jpg') no-repeat center center / cover;
padding: 50px 20px;
color: white;
position: relative;
width: 100%;
height: 300px;
margin: auto;
}
.success-path::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgb(10 42 67 / 17%);
backdrop-filter: blur(6px);
}
.success-title {
font-family: 'Jura', sans-serif;
font-size: 32px;
font-weight: bold;
margin-bottom: 64px;
position: relative;
z-index: 1;
}
.success-steps {
font-family: 'Jura', sans-serif;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
position: relative;
z-index: 1;
}

.step {
background: #C4E538;
padding: 15px 30px;
border-radius: 15px;
font-size: 24px;
font-weight: bold;
color: black;
position: relative;
bottom: 121px;
}

.step-center {
margin-top: 17%;
}
.step-left{
    margin: 0px;
}

.connector {
width: 50px;
height: 3px;
background: transparent;
position: relative;
}

.connector::after {
content: "→";
font-size: 24px;
color: #C4E538;
position: absolute;
top: -8px;
left: 50%;
transform: translateX(-50%);
}
.info-section {
    background-color: #002A43;
    color: white;
    text-align: left;
    padding: 60px 15%;
    font-family: 'Jura', sans-serif;
}

.info-title {
font-size: 36px;
font-weight: bold;
margin-bottom: 24px;
font-family: 'Cairo';
}

.info-text {
font-size: 18px;
line-height: 1.6;
letter-spacing: 0.6px;
margin-bottom: 20px;
color: #ffffff91;
}
.main-sponsors-section {
    margin-top: 60px;
    padding: 40px 20px;
    text-align: center;
    background: linear-gradient(90deg, #ffffff, #ffffff);
    border-radius: 25px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.main-sponsors-title {
    font-size: 35px;
    font-family: 'Jura';
    font-weight: bold;
    color: #002a43;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.main-sponsor-strip-wrapper {
    overflow: hidden;
    height: 100px;
    position: relative;
}

.main-sponsor-strip {
    display: flex;
    width: max-content;
    animation: scrollMainSponsors 18s linear infinite;
}

.main-sponsor-logo {
    width: 120px;
    height: 120px;
    margin-right: 40px;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.main-sponsor-logo:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

@keyframes scrollMainSponsors {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
.sponsor-button {
    font-family: 'Jura', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #CAE457;
    color: black;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}

.sponsor-button:hover {
    background-color: #b8d348;
    transform: scale(1.05);
}

/* Contact Us Section */
.contact-us {
    padding: 50px 20px;
    background-color: #0A2A43;
    color: white;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.contact-title {
    font-family: 'Jura', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-text {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-text a {
    color: #D4EC5B;
    text-decoration: none;
}

.contact-text a:hover {
    text-decoration: underline;
}

.app-screenshots {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 40px;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}
.screenshot {
    text-align: center;
    width: 70%;
    background-color: #CFD8DC;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.screenshot:last-of-type img {
    width: 80%; /* Променяш процента според желаната големина */
    max-width: 250px; /* Опционално, задава максимален размер */
    border-radius: 10px; /* Заоблени ъгли */
    margin-bottom: 8px;
    transition: transform 0.3s ease-in-out;
}

.screenshot:last-of-type img:hover {
    transform: scale(1.05); /* Леко увеличение при ховър */
}



.screenshot:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.screenshot img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.screenshot p {
    font-family: 'Jura', sans-serif;
    font-size: 16px;
    color: rgba(0, 46, 67, 0.788);
}

/* sponsor-cards */

.sponsor-cards-section {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.sponsor-cards-title {
    font-size: 36px;
    margin-bottom: 40px;
    color: #0A2A43;
    font-family: 'Jura', sans-serif;
}

.sponsor-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.sponsor-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 260px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sponsor-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.card-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 15px;
}

.sponsor-card h4 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #0A2A43;
    font-family: 'Jura', sans-serif;
}

.sponsor-card p {
    font-size: 14px;
    color: #333;
}
.sponsor-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.2s ease;
}

.sponsor-card-link:hover .sponsor-card {
    transform: scale(1.03);
}




@media (max-width: 1920px) {

    .hero {
        width: 100%;
        height: 900px;
        background: linear-gradient(to top, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 77%, rgb(0 0 0 / 0%) 100%), url('gentrit-sylejmani-JjUyjE-oEbM-unsplash.jpg') no-repeat center center / cover;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: -121px;
    }
    .step-center {
        margin-top: 13%;
    }
}
@media (max-width: 1650px) {

    .hero {
        height: 714px;
    }
    .step-center {
        margin-top: 17%;
        }
}

/* --- Адаптивност за екрани под 1600px --- */
@media (max-width: 1450px) {
    .header {
        width: 95%;
        padding: 0 15px;
    }

    .hero {
        height: 490px;
    }

    .hero-title {
        font-size: 42px;
    }

    .hero-subtitle {
        font-size: 28px;
    }

    .hero-button {
        font-size: 20px;
        padding: 8px 25px;
        margin-bottom: 8px;
    }

    .cards-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 280px;
        height: 300px;
        padding: 25px;
    }

    .success-path {
        height: 250px;
        padding: 40px 15px;
    }

    .success-title {
        font-size: 28px;
    }

    .step {
        font-size: 20px;
        padding: 12px 25px;
    }

    .info-section {
        padding: 50px 10%;
    }

    .info-title {
        font-size: 30px;
    }

    .info-text {
        font-size: 16px;
    }
}

/* --- За екрани под 1200px (типични лаптопи) --- */
@media (max-width: 1200px) {
    .hero {
        height: 490px;
    }

    .hero-title {
        font-size: 38px;
    }

    .hero-subtitle {
        font-size: 24px;
    }

    .hero-button {
        font-size: 18px;
        padding: 8px 20px;
    }

    .cards-container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        width: 250px;
        height: 280px;
        padding: 20px;
    }

    .success-title {
        font-size: 26px;
    }

    .step {
        font-size: 18px;
        padding: 10px 20px;
    }

    .info-section {
        padding: 40px 8%;
    }

    .info-title {
        font-size: 28px;
    }

    .info-text {
        font-size: 15px;
    }
}

/* --- За екрани под 900px (малки лаптопи, таблети) --- */
@media (max-width: 900px) {
    .header {
        height: 65px;
        border-radius: 40px;
    }

    .header-logo {
        font-size: 24px;
    }

    .header-buttons .button {
        width: 78px;
        height: 35px;
        font-size: 14px;
    }

    .hero {
        height: 500px;
    }

   .hero-title {
        font-size: 32px;
        margin-top: 73%;
    }

    .hero-subtitle {
        font-size: 20px;
    }

    .hero-button {
        font-size: 16px;
        padding: 7px 18px;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        max-width: 300px;
    }

    .success-path {
        height: 220px;
    }

    .success-title {
        font-size: 24px;
        margin-bottom: 31%;
    }

    .step {
        font-size: 16px;
        padding: 8px 18px;
    }

    .info-section {
        padding: 30px 5%;
    }

    .info-title {
        font-size: 26px;
    }

    .info-text {
        font-size: 14px;
    }
}/* Mobile Styles for screens 450px and below */
@media (max-width: 450px) {
    
    /* Header */
    .header {
        width: 90%;
        height: 60px;
        padding: 0 10px;
        border-radius: 30px;
    }
    
    .header-logo {
        font-size: 18px;
    }
    
    .header-logo img {
        height: 40px;
        margin-right: 12px;
    }
    
    .button {
        width: 90px;
        height: 35px;
        font-size: 14px;
    }
    .sponsor-strip-wrapper {
        display: none;
    }
    
    .sponsor-strip {
        display: none;
    }
    
    .sponsor-logo {
      display: none;
    }
    .main-sponsors-title {
        font-size: 22px;
    }
    .main-sponsors-section {
        margin-top: -5%;
        margin-bottom: 18%;
        padding: 4px 34px;
        text-align: center;
        background: linear-gradient(90deg, #ffffff, #ffffff);
        border-radius: 25px;
        max-width: 72%;
        margin-left: auto;
        margin-right: auto;
        /* box-shadow: 0 0 30px #cae4575e; */
    }
    .main-sponsor-logo {
        width: 100px;
        height: 100px;
        margin-right: 15px;
    }
    .sponsor-button {
        font-size: 12px;
        padding: 10px 30px;
        margin-bottom: 4%;
        margin-top: 0px;
        display: inline-block;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    .sponsor-cards-title {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .sponsor-cards-title {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .sponsor-cards-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .sponsor-card {
        width: 90%;
        padding: 15px;
        text-align: center;
    }

    .card-logo {
        width: 100px;  /* увеличено от 80px */
        height: 100px;
        margin-bottom: 12px;
    }

    .sponsor-card h4 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .sponsor-card p {
        font-size: 14px;
    }

    /* Hero Section */
    .hero {
        height: 639px;
        margin-top: -80px;
        text-align: center;
    }

    .hero-title {
        font-size: 32px;
        margin-top: 105%;
    }

    .hero-subtitle {
        font-size: 18px;
    }

    .hero-button {
        font-size: 18px;
        padding: 8px 20px;
    }

    /* Cards Section */
    .cards-container {
        display: flex;
        overflow-x: auto;
        gap: 24px;
        padding: 28px;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }
    
    .cards-container::-webkit-scrollbar {
        display: none; /* Скрива скролбара */
    }
    
    .card {
        background: #CFD8DC;
        width: 90%;
        height: auto;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
        text-align: center;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin-bottom: 15px;
    }
    
    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    }
    
    .card img {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }
    
    .card-title {
        font-family: 'Jura', sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #003C4D;
        margin-bottom: 15px;
        line-height: 1.4; /* Този ред ще направи разстоянието между редовете в заглавието по-голямо */
    }
    
    .card-text {
        font-family: 'Jura', sans-serif;
        font-size: 14px;
        line-height: 1.5; /* Този ред ще даде повече пространство между редовете на текстовете */
        color: rgba(0, 46, 67, 0.58);
        white-space: normal; /* Това ще позволи текста да се разтяга на нов ред, когато е нужно */
        word-wrap: break-word; /* Текстът ще се пренася автоматично, когато не се побира в един ред */
        margin-top: 10px; /* Добавяне на малко разстояние между текста и изображението */
    }
    
    
    
    /* Success Path */
    .success-path {
        height: auto;
        padding: 30px 10px;
        text-align: center;
    }
    
    .success-title {
        font-size: 24px;
    }
    
    .success-steps {
        flex-direction: column;
        gap: 10px;
    }
    
    .step {
        width: auto;
        font-size: 18px;
        padding: 10px 20px;
    }
    
    .connector {
        display: none;
    }

    /* Info Section */
    .info-section {
        padding: 40px 10%;
    }
    
    .info-title {
        font-size: 28px;
    }
    
    .info-text {
        font-size: 16px;
    }
    .step-center {
        margin-top: 0%;
        margin-left: 35%;
        margin-bottom: 14px;
    }
    .step-left{
        margin-right: 35%;
        margin-bottom: 14px;
    }
    .step-right{
        margin-right: 35%;
    }

    .step {
        bottom: 54px;
    }
    .screenshot {
        width: 85%;
    }
    .screenshot img {
         margin-bottom: 15px;
    }
}
@media (max-width: 380px) {
    
    .header-logo {
        font-size: 16px;
    }
    .header-logo img {
        height: 36px;
        margin-right: 12px;
    }
    .hero-title {
        font-size: 32px;
        margin-top: 120%;
    }
    .header-buttons .button {
        width: 62px;
        height: 25px;
        font-size: 12px;
    }
}